html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.paymentLogo img {
  object-fit: contain;

  border-color: #ff0000;
  border-width: 2px;
}
/* .payModalWrapper {
  width: 100vw;
  height: 100vh;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.modalContainer {
  background: white;
  width: 35%;
  min-width: 320px;
} */
